body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('roland.png');
}

.roland img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.goon{
    color:white;
}